@import "variables";
@import "mixins";
@import "buttons";
@import "page";

:host {
  .product {
    padding-top: 22%;
    text-align: center;
    background-attachment: scroll;
    background-position: center center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
      margin-top: 3%;
      .row {
        margin-bottom: 3em;
      }
      .product-item {
        right: 0;
        margin: 0 0 15px;
      }
      * {
        z-index: 2;
      }
    }
  }
  @media (min-width: 767px) {
    .product {
      padding-top: 5%;
      .product-item {
        margin: 0 0 30px;
      }
    }
  }
}
