<div class="product">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase" i18n="Titulo para la pagina de regalos@@tituloPagina">Regálos</h2>
        <h3 class="section-subheading text-muted" i18n="Descripcion para la pagina de regalos@@decripcionPagina">
          Elige tu regalo para nuestro bebé.
        </h3>
      </div>
    </div>
    <div class="row">
      <app-product
        [page]="'products'"
        [producto]="product"
        *ngFor="let product of listaProducts"
        class="col-md-4 col-sm-6 product-item"
      ></app-product>
    </div>
  </div>
</div>
