<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <i class="fas fa-baby-carriage fa-2x"></i>
  </a>

  <a *ngIf="(total$ | async) > 0" [routerLink]="['/orden']" routerLinkActive="router-link-active"  class="nav-link cart-icon in-mobile" routerLink="/products">
    <i class="fas fa-baby"></i>
    <span class='badge badge-warning' id='lblCartCount'> {{total$ | async}} </span>
  </a>
  
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <div class="menu">
      <ul class="navbar-nav left-menu">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/home">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/products">Regalos</a>
        </li>
      </ul>
      <ul class="navbar-nav right-menu">
        <li class="in-web" *ngIf="auth.loggedIn">
          <a *ngIf="(total$ | async) > 0" [routerLink]="['/orden']" routerLinkActive="router-link-active"  class="nav-link cart-icon" routerLink="/products">
            <i class="fas fa-baby"></i>
            <span class='badge badge-warning' id='lblCartCount'> {{total$ | async}} </span>
          </a>
        </li>
        <li *ngIf="auth.loggedIn">
          <a class="nav-link dropdown-toggle user-menu" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#" (click)="auth.logout()"><i class="fas fa-power-off"></i> Salir</a>
            <a class="dropdown-item" href="#"><i class="fas fa-user"></i> Perfil</a>
          </div>
        </li>
        <li *ngIf="!auth.loggedIn">
          <button class="nav-button btn btn-outline-light btn-sm my-2 my-sm-0" (click)="auth.login()"
            *ngIf="!auth.loggedIn">Entrar</button>
        </li>
      </ul>
    </div>
  </div>
</nav>