<!-- Header -->
<header class="masthead">
  <div class="container">
    <img src="../../../../assets/img/img6.png" alt="" class="responsive">
    <div class="count">
      <div class="dias">
        <span class="values">32</span>
        <span class="titles">d</span>
      </div>
      <div class="horas">
        <span class="values">11</span>
        <span class="titles">h</span>
      </div>
      <div class="minutos">
        <span class="values">08</span>
        <span class="titles">m</span>
      </div>
      <div class="segundos">
        <span class="values">50</span>
        <span class="titles">s</span>
      </div>
    </div>
  </div>
</header>