@import "variables";
@import "mixins";
@import "page";

:host {
	header.masthead {
		height: 100vh;
		background-image: url("../../../../assets/img/img1.jpg");
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: center center;
		background-size: cover;
		display: flex;
		justify-content: center;
		.board {
			background-image: url("../../../../assets/img/img6.png");
			background-size: cover;
			align-self: center;
			max-width: 620px;
			width: 100%;
			display: flex;
			justify-content: flex-end;
			.countdown {
        align-self: flex-end;
        width: 55%;
	height: 26%;
			}
		}
	}
	@media (min-width: 768px) {
		header.masthead {
			.board {
				.countdown {
					
				}
			}
		}
	}
}
