@import "variables";
@import "mixins";
@import "buttons";
@import "page";

.product-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
  .product-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background: fade-out($primary, 0.1);
    &:hover {
      opacity: 1;
    }
    .product-hover-content {
      .botones {
        margin-top: 50%;
        a {
          font-size: 1em;
          color: white;
          padding: 0.5em;
          i {
            margin-top: -12px;
          }
        }
      }
      h3,
      h4 {
        margin: 0;
      }
    }
  }
  .product-selected {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.95;
    background: #09b83f;
    cursor: auto;
    .content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      height: 100%;
      i {
        color: white;
      }
      .botones {
        padding-top: 0.5em;
        a {
          font-size: 1em;
          color: white;
          padding: 0.5em;
          i {
            margin-top: -12px;
          }
        }
      }
    }
  }
}
.product-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: $white;
  h4 {
    margin: 0;
    text-transform: none;
  }
  p {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    @include serif-font;
  }
}

@media (min-width: 767px) {
}
