<app-skeleton *ngIf="loading" Cwidth="100" Cheight="100">
</app-skeleton>
<div [ngClass]="{ 'is-disabled': !producto.disponible }" class="product" *ngIf="!loading">
<a [ngClass]="{'not-events': page !== 'products'}" class="product-link" data-toggle="modal" href="#">
  <div *ngIf="page === 'products'" class="product-hover">
    <div class="product-hover-content">
      <div class="botones">
        <a href="#" (click)="add($event)">
          <i class="fas fa-plus"></i> Regalar</a>
        <a [href]="producto.url" target="_blank" rel="noopener"><i class="fas fa-eye"></i> Ver Producto</a>
      </div>
    </div>
  </div>
  <div *ngIf="isSelected && page === 'products'" class="product-selected">
    <div class="content">
      <i class="far fa-check-circle fa-6x"></i>
      <div class="botones">
        <a href="#" (click)="remove($event)"> <i class="fas fa-times"></i> Cancelar</a>
        <a [href]="producto.url" target="_blank" rel="noopener"><i class="fas fa-eye"></i> Ver Producto</a>
      </div>
    </div>
  </div>
  <img class="img-fluid" [src]="producto.img" alt="" />
</a>
<div *ngIf="producto.disponible || page !== 'products'" class="product-caption">
  <h4>{{ producto.nombre }}</h4>
  <p class="text-muted">{{ producto.precio | currency: "EUR":"symbol" }}</p>
</div>
<div *ngIf="!producto.disponible && page === 'products'" class="product-caption">
  <h4><i class="fas fa-ban"></i> NO DISPONIBLE</h4>
</div>
</div>